{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false
      },
      "target": "es2020"
    },
    "module": {
      "type": "nodenext",
      "strict": true
    },
    "sourceMaps": true
  }
  